<!-- Footer -->
<footer class="font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col bg-light">

          <!-- Content -->
          <h5 class="text-uppercase text-center pt-3">Contact Us</h5>
          <form class="px-4 py-3">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Email@example.com">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Type your message here:"></textarea>
            </div>

            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col bg-light">

            <!-- Links -->
            <h5 class="text-uppercase text-center pt-3">General Enquries</h5>

            <ul class="list-unstyled text-small">
              <li>
                <a class="text-danger" href="#!">Andy Song</a>
              </li>
              <li>
                <a class="text-danger" href="#!">Junliang Jiang</a>
              </li>
              <li>
                <a class="text-danger" href="#!">Ali</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col bg-light">

            <!-- Links -->
            <h5 class="text-uppercase text-center pt-3">Useful Links</h5>

            <ul class="list-unstyled">
              <li>
                <a class="text-danger" href="#!">RMIT Course</a>
              </li>
              <li>
                <a class="text-danger" href="#!">RMIT Helpdesk</a>
              </li>
              <li>
                <a class="text-danger" href="#!">RMIT International</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col bg-light">

            <!-- Links -->
            <h5 class="text-uppercase text-center pt-3">Media</h5>

            <ul class="list-unstyled">
              <li>
                <a class="text-danger" href="#!">Youtube</a>
              </li>
              <li>
                <a class="text-danger" href="#!">Twitter</a>
              </li>
              <li>
                <a class="text-danger" href="#!">Facebook</a>
              </li>
              <li>
                <a class="text-danger" href="#!">Instagram</a>
              </li>
              <li>
                <a class="text-danger" href="#!">Skype</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->