<!DOCTYPE html>
<html>
  <head>
    
    <title>CmsSite</title>
    <%= render 'layouts/meta' %>

  </head>

  <body>
  
    <div class="container">
      <%= render 'layouts/nav' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
